<a href="/" class={{main}}">Главная </a>|
<a href="/features" class={{features}}>Особенности </a>|
<a href="/news" class={{news}}>Новости </a>|
<a href="/my_notes" class={{myNotes}}>Мои заметки </a>|
<a href="/new_user" class={{newUser}}>Новый пользователь </a>|
<a href="/login" class={{login}}>Вход</a>
