.navigation {
  padding: 5px;
  border: 1px solid;
  width: 500px;
  height: 30px;
}
.star {
  color: red;
}

p {
    color: green;
    margin-bottom: 2px;
}
h1 {
    color: blue;
}
h2 {
    color: grey;
}

#features {
  color: red;
  background-color: springgreen;
}

#main {
  color: red;
  background-color: springgreen;
}
#news {
  color: red;
  background-color: springgreen;
}
#newUser {
  color: red;
  background-color: springgreen;
}
#myNotes {
  color: red;
  background-color: springgreen;
}
#newUser {
  color: red;
  background-color: springgreen;
}
